<mat-toolbar style="color: rgb(241, 241, 228); background-color: rgb(34, 32, 32);position:sticky;top: 0%;z-index: 99999;" >
  
    &nbsp;&nbsp;
    <span>Foozie</span>
    <button  routerLink="/Aboutus" mat-button><h2>About Us</h2></button>
    <span class="example-spacer"></span>
    <button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon >home</mat-icon></button>
    <a routerLink="/favourite"><button mat-icon-button class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button></a> 
    <button mat-icon-button >
        <mat-icon style="color: azure;" routerLink="/cart" > add_shopping_cart</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
    &nbsp;&nbsp;
    
  </mat-toolbar>
